<!-- BEGIN TAB ACTIVITY -->
<div class="tab-pane" id="recent_activity">
  <!-- TODO: Implemente recent activity -->
  <p><%= t('application.views.blog.recent_activity') %></p>
</div>
<!-- END TAB ACTIVITY -->
