<div class="col-lg-12">
  <div class="box box-primary">

    <!-- BEGIN MESSAGE -->
    <div class="box-content text-center">
      <br/><div><%= message.html_safe %></div><br/>
    </div>
    <!-- END MESSAGE -->

  </div>
</div>
