<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="callout callout-alert" role="alert">
      <%= t('application.error_messages.pre') %> <%= pluralize(object.errors.count, 'erro', 'erros') %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>