<!-- BEGIN HEADER -->
<header class="main-header">
  <%= link_to root_path, class: 'logo' do %>
    <span class="logo-mini"><b>H</b>B</span>
    <span class="logo-lg">HE<b>Blog</b></span>
  <% end %>

  <!-- BEGIN NAVBAR -->
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only"><%= t('application.toggle_navigation') %></span>
    </a>

    <!-- BEGIN NAVBAR MENU -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

      </ul>
    </div>
    <!-- END NAVBAR MENU -->
  </nav>
  <!-- END NAVBAR -->
</header>
<!-- END HEADER -->
