<!-- BEGIN FOOTER -->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <%= t('application.footer.developed_by') %>: <strong><a href='https://github.com/thdurante' target='_blank'>Thiago Durante</a></strong>
  </div>

  <%= t('application.footer.text') %>
</footer>
<!-- END FOOTER -->
