<!-- BEGIN HEADER -->
<header class="main-header">
  <%= link_to root_path, class: 'logo' do %>
    <span class="logo-mini"><b>H</b>B</span>
    <span class="logo-lg">HE<b>Blog</b></span>
  <% end %>

  <!-- BEGIN NAVBAR -->
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only"><%= t('application.toggle_navigation') %></span>
    </a>

    <!-- BEGIN NAVBAR MENU -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- BEGIN USER MENU -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="/assets/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Alexander Pierce</span>
          </a>

          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image">
              <p>Alexander Pierce - Web Developer<small>Member since Nov. 2012</small></p>
            </li>

            <li class="user-footer">
              <div class="pull-left">
                <%= link_to t('application.menu.profile'), edit_user_path(current_user), class: 'btn btn-default btn-flat' %>
              </div>
              <div class="pull-right">
                <%= link_to t('application.sign_out'), destroy_user_session_path, class: 'btn btn-default btn-flat', method: :delete %>
              </div>
            </li>
          </ul>
        </li>
        <!-- END USER MENU -->
      </ul>
    </div>
    <!-- END NAVBAR MENU -->
  </nav>
  <!-- END NAVBAR -->
</header>
<!-- END HEADER -->
