<!-- BEGIN SIDEBAR -->
<aside class="main-sidebar">
  <section class="sidebar">

    <!-- BEGIN USER PANEL -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="<%= image_url(current_user.avatar.url(:sidebar)) %>" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- END USER PANEL -->

    <!-- BEGIN SEARCH FORM -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="<%= t('application.menu.search') %>..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- END SEARCH FORM -->

    <%= render partial: 'layouts/menu' %>

  </section>
</aside>
<!-- END SIDEBAR -->
